<!DOCTYPE html>
<html>
    <head>
        <title>{{ APP_NAME }} - AI Sandbox</title>
    </head>
    <body>
        <h1>{{ APP_NAME }} v{{ VERSION }} - AI Sandbox</h1>
        <form action="" onsubmit="sendMessage(event)">
            <label for="messageText">Write down your query:</label>
            <textarea id="messageText" autofocus="autofocus"></textarea>
            <button id="sendButton" >Send</button>
            <label id="labelLoading" hidden="hidden">Loading...</label>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var ws = new WebSocket("/api/sandbox/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
                document.getElementById("sendButton").disabled = false
                document.getElementById("labelLoading").hidden = true
                document.getElementById("translateButton").hidden = false
            };
            function sendMessage(event) {
                document.getElementById("sendButton").disabled = true
                document.getElementById("labelLoading").hidden = false
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>
